<div>
	<span>Header</span>
</div>
<div>
	Table
	<table>
		<tbody>
			<tr>
				<td></td><td></td><td></td>
			</tr>
			<tr>
				<td></td><td></td><td></td>
			</tr>
		</tbody>
	</table>	
</div>
<div>
	<span>Footer</span>
</div>		
