<div id="game-wrapper">	
	<div>
		<h2>Test your memory</h2>
	</div>
	<div id="cards-wrapper">
		<table>
			<tbody>
				<tr>
					<td></td><td></td><td></td>
				</tr>
				<tr>
					<td></td><td></td><td></td>
				</tr>
			</tbody>
		</table>	
	</div>
	<div>
		<span>Development by <b>Chris Klein</b></span>
		<p><b>nomabi</b> web development http://www.nomabi.com</p>
	</div>	
<div>		

<script>
	$(document).ready(function(){ FlipGame.init() })
</script>