<div id="game-wrapper" class="container">	
	<div>
		<h2>Test your memory</h2>
	</div>
	<div id="cards-wrapper" >
		<div class="row">
			<div class="four columns alpha"></div>
			<div class="four columns"></div>
			<div class="four columns omega"></div>
		</div>
		<div class="row">
			<div class="four columns alpha"></div>
			<div class="four columns"></div>
			<div class="four columns omega"></div>
		</div>
	</div>
	<div id="footer">
		<span>Development by <b>Chris Klein</b></span>
		<a href="http://www.nomabi.com" target="_blank"><p>nomabi web development</p></a>
	</div>	
<div>		

<script>
	$(document).ready(function(){ FlipGame.init() })
</script>