<div id="game-wrapper" class="container">	
	<div>
		<h2>Match the Stooges</h2>
	</div>
	<div id="cards-wrapper" >
		<div class="row">
			<div class="four columns alpha"></div>
			<div class="four columns"></div>
			<div class="four columns omega"></div>
		</div>
		<div class="row">
			<div class="four columns alpha"></div>
			<div class="four columns"></div>
			<div class="four columns omega"></div>
		</div>
	</div>
	<div id="footer">
		<span>Development by <b>Chris Klein</b></span>
		<a href="http://www.nomabi.com" target="_blank"><p>nomabi web development</p></a>
		<p>Images can be found at: <a href="http://99volts.com/category/3Stooges.aspx" target="_blank">Larry</a> ,<a href="http://74.86.93.54/home.php?cat=18&band=52" target="_blank">Moe</a>, <a href="http://74.86.93.54/home.php?cat=18&band=52" target="_blank">Curly</a>, and <a href="http://en.wikipedia.org/wiki/The_Three_Stooges" target="_blank">The Stooges</a></p>
	</div>	
<div>		

<script>
	$(document).ready(function(){ FlipGame.init() })
</script>