<div>
	<span>Header</span>
</div>
<div>
	Table
	<table>
		<tbody>
			<tr>
				<td class="larry"></td><td class="larry"></td><td class="larry"></td>
			</tr>
			<tr>
				<td class="larry"></td><td class="larry"></td><td class="larry"></td>
			</tr>
		</tbody>
	</table>	
</div>
<div>
	<span>Footer</span>
</div>		

<script>
	$(document).ready(function(){ FlipGame.init() })
</script>