// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
	
	td{ padding: 10px;}
	
	div {background-color: #f8f8f8; height: 40px; width: 40px;}

}