// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#game-wrapper{ position:relative; width: 780px !important; margin: 12px auto !important;}

#cards-wrapper{ position:relative; width: 780px !important;}

.columns{ padding: 10px; height: 220px; width: 220px;
	
	div {background-color: #f0f0f0; height: 200px; width: 200px; cursor:pointer; padding:20px;
		 -webkit-border-radius: 4px !important; -moz-border-radius: 4px !important; border-radius: 3px;
		 -webkit-box-shadow: 2px 2px 2px #A0A0A0 !important;
		 -moz-box-shadow: 2px 2px 2px #A0A0A0 !important;
		 box-shadow: 2px 2px 2px #A0A0A0 !important;
	
		span{ position: relative; display: block; height: 100%; width: 100%; background-color: transparent; }
		
		.card-back{  background-image: url('Seamles-Blue-23.jpg') }
		.moe{  background-image: url('moe200.png') }
		.curly{  background-image: url('curly200.png'); background-repeat:no-repeat; }
		.larry{  background-image: url('larry200.png'); background-repeat:no-repeat; }
	}
	
}

#invitation{ position:relative; height: 210px; width: 350px; margin: auto !important; margin-top: 100px !important; overflow:auto;
	
	span{ display: block; font-size: 1.5em;}

}

#mask{ position: absolute; left:0; top:50px;  height: 520px; width:780px; background-color: transparent;}

#footer{position:relative; margin-top:30px;
	b{ font-weight: 700; }
}